[submodule "programmierung/Uebung/S1E1-Aufgabe-Print-Funktion"]
	path = programmierung/Uebung/S1E1-Aufgabe-Print-Funktion
	url = git@github.com:ai4sc-lectures/S1E1-Aufgabe-Print-Funktion.git
[submodule "programmierung/Uebung/S1E2-Aufgabe-Variablen"]
	path = programmierung/Uebung/S1E2-Aufgabe-Variablen
	url = git@github.com:ai4sc-lectures/S1E2-Aufgabe-Variablen.git
[submodule "programmierung/Uebung/S1E3-Aufgabe-Input-Funktion"]
	path = programmierung/Uebung/S1E3-Aufgabe-Input-Funktion
	url = git@github.com:ai4sc-lectures/S1E3-Aufgabe-Input-Funktion.git
[submodule "programmierung/Uebung/S2E1-Aufgabe-Datentypen"]
	path = programmierung/Uebung/S2E1-Aufgabe-Datentypen
	url = git@github.com:ai4sc-lectures/S2E1-Aufgabe-Datentypen.git
[submodule "programmierung/Uebung/S3E1-Aufgabe-Flussdiagramm"]
	path = programmierung/Uebung/S3E1-Aufgabe-Flussdiagramm
	url = git@github.com:ai4sc-lectures/S3E1-Aufgabe-Flussdiagramm.git
[submodule "programmierung/Uebung/S2E2-Aufgabe-Funktionen"]
	path = programmierung/Uebung/S2E2-Aufgabe-Funktionen
	url = git@github.com:ai4sc-lectures/S2E2-Aufgabe-Funktionen.git
[submodule "programmierung/Uebung/S4E1-Aufgabe-For-Schleife"]
	path = programmierung/Uebung/S4E1-Aufgabe-For-Schleife
	url = git@github.com:ai4sc-lectures/S4E1-Aufgabe-For-Schleife.git
[submodule "programmierung/Uebung/S4E2-Aufgabe-Rekursion"]
	path = programmierung/Uebung/S4E2-Aufgabe-Rekursion
	url = git@github.com:ai4sc-lectures/S4E2-Aufgabe-Rekursion.git
[submodule "programmierung/Uebung/S5E1-Aufgabe-Debugging"]
	path = programmierung/Uebung/S5E1-Aufgabe-Debugging
	url = git@github.com:ai4sc-lectures/S5E1-Aufgabe-Debugging.git
[submodule "programmierung/Uebung/S5E2-Aufgabe-Try-Except"]
	path = programmierung/Uebung/S5E2-Aufgabe-Try-Except
	url = git@github.com:ai4sc-lectures/S5E2-Aufgabe-Try-Except.git
