#ipython==8.6.0
ipython
notebook
numpy
pandas
matplotlib
plotly
dash
kaleido
jupyter-dash
jupyter-book
pydata-sphinx-theme
ghp-import
geojsonio
pandas_geojson
sphinxcontrib-mermaid
bar_chart_race
git+https://github.com/bonartm/sphinxcontrib-quizdown