div.definition {
    border-left-color: rgb(216, 191, 216);
}
div.definition>p.admonition-title {
    background-color: rgb(216, 191, 216);
}
div.definition>p.admonition-title:before {
    background-color: rgb(216, 191, 216);
}
div.definition>p.admonition-title:after {
    color: rgb(145, 52, 145);
    content: '\f52d';
}