div.definition {
    border-left-color: rgba(216, 191, 216, 1);
}
div.definition .admonition-title {
    background-color: rgba(216, 191, 216, .1);
}
div.definition .admonition-title:before {
    color: rgba(216, 191, 216, 1);
    content: '\f19d';
}